<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PedraPapelTesoura"
        tools:targetApi="31">
        <activity
            android:name=".Utilitarios.Cadastro"
            android:exported="false" />
        <activity
            android:name=".Utilitarios.EditUser"
            android:exported="false" />
        <activity
            android:name=".Aplicacao.Verifica"
            android:exported="false" />
        <activity
            android:name=".Utilitarios.Cadastrar"
            android:exported="false" />
        <activity
            android:name=".Aplicacao.ListUserAltDel"
            android:exported="false" />
        <activity
            android:name=".Aplicacao.MenuOne"
            android:exported="false" />
        <activity
            android:name=".Aplicacao.ListHank"
            android:exported="false" />
        <activity
            android:name=".Aplicacao.Game2"
            android:exported="false" />
        <activity
            android:name=".Aplicacao.Game1"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>